
@media screen and ( min-width:2100px){
	.aboutgrad_sec.about-grad-sec  .mv_svg {
	    transform: translate(-50%, -50%);
	    max-width: 1800px;
	    margin: 0 auto;
	    left: 50%;
	}
	.svg_contact{
		left: 5%;
	}
}
@media screen and ( min-width:2500px){
	section.clarity_counts_sec.sec_padd{
		margin-top: -300px;
		padding-top: 200px;
	}
	.support_svg{
		top: 48%;
	}
	.clarity_svg {
	    max-width: 2700px;
	    margin: 0 auto;
	    left: 0;
	    right: 0;
	}
	.contact-form-sec{
		margin-top: -12rem;
		padding-top: 28rem;
	}
	.svg_contact{
		left: 10%;
	}
}
@media screen and ( min-width:3500px){
.svg_contact{
		left: 14%;
	}
}
@media screen and ( min-width:1440px) and  ( max-width:1780px) 
{

/*.top_svg.rad1-hide {
    top: -4.3rem;
}
*/
/*.care_sec p br {
    display: none;
}*/

.resize_svg.svg_right.svg_right2 svg{
	transform: scale(1);
}
.top_svg.rad1-hide {
    top: -68px;
}
.svg_contact{
	width: 54%;
}

}
@media screen and ( min-width:1200px) and  ( max-width:1439px) {
.svg_contact{
	width: 60%;
}
}
@media screen and ( min-width:1440px) and  ( max-width:1599px) {

	.care_container .common_head {
        font-size: 50px;
    }
	.care_container {
	    width: 87%;
	}
	/*.care_sec p br {
	    display: none;
	}*/

	.mv_svg {
	    top: 45%;
	}
.vascular-center-sec .resize_svg.svg_left {
    position: relative;
/*    left: -7px;*/
}
.resize_svg.svg_contact svg {
    transform: scale(1.05);

}
.top_svg.rad1-hide {
    top: -61px;
}

}

@media screen and ( max-width:1439px)
{
	.care_container .common_head 
	{
	    font-size: 46px;
	}

   .mv_svg {
	    top: 45%;
	}




.top_svg.rad1-hide {
    top: 3.9rem;
}
.resize_svg.svg_contact svg {
        transform: scale(0.8);
    }


    /*.vascular-center-sec .resize_svg.svg_left {
	    position: relative;
	    left: -7px;
	}*/
	.about_a_first_sec .care_slider .slick-list{
/*		    padding-right: 15%;*/
	}
	.top_svg.rad1-hide {
	    top: -56px;
	}
	section.sec_padd.platform_sec {
	    padding-bottom: 50px;
	}
}


@media screen and (max-width: 1700px) and (min-width: 1601px) {
.banner_img img.banner_cover_img {
    max-height: 600px;
}
}

@media screen and (max-width: 1600px) and (min-width: 1501px) {
.banner_img img.banner_cover_img {
    max-height: 580px;
}
}

@media screen and (max-width: 1500px) and (min-width: 1401px) {
.banner_img img.banner_cover_img {
    max-height: 580px;
}
.service_banner.care-banner .banner_gradiant {
    width: 66%;
}
.popup_form_main{
	padding: 50px;
}
.popup_form_inner{
	padding: 60px 90px;
}
section.discover_sec.sec_padd.position-relative.meet-book-sec{
	margin-top: 0;
}

}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
.care-banner .banner_img img.banner_cover_img {
    max-height: 580px;
}
.service_banner.care-banner .banner_gradiant {
    width: 62%;
}

section.sec_padd.thank-you-sec {
    padding-top: 100px;
    padding-bottom: 75px;
}
.thank-you-sec a.btn_cmn{
	margin-top: 20px;
}
.dash-journey.doctor_svg svg{
	transform: scale(1);
}
section.sec_padd.doctor_sec {
    padding-bottom: 40px;
    padding-top: 80px;
}
.doctor-row .text-center.mt-5 {
    margin-top: 0 !important;
}
section.discover_sec.sec_padd.position-relative.meet-book-sec{
	margin-top: -0px;
	padding-top: 100px;
	padding-bottom: 85px;
}
.map_top{
	margin-bottom: -3rem;
}
.shape_svg.faq_svg {
    width: 90%;
}
.book-box-btn{
	width: 92.1%;
}

}


@media screen and (max-width: 1380px) and (min-width: 1320px) {
	.dash-journey.faq_svg svg{
		width: 97.5%;
		max-width: 1070px;
	}
	.shape_svg.faq_svg {
        width: 96%;
    }
	.book-box-btn {
	    max-width: 1050px;
	}
	.dash-journey.doctor_svg svg {
    width: 100%;
}
.dash-journey.doctor_svg {
    width: 100%;
}

}


@media (min-width: 1201px){
	.careatrivea_banner .banner_gradiant svg{
	    right: 40px;
	}
}

@media (min-width: 992px){
	.user_submenu, .sub_menu{
		display: block;
		transition: all .2s linear;
	    opacity: 0;
	    visibility: hidden;
	    pointer-events: none;
	    margin-top: 10px;
	}
	.hdr_login:hover .user_submenu,
	.main_menu > li:hover > .sub_menu{
	    opacity: 1;
	    visibility: visible;
	    pointer-events: auto;
	    margin-top: 0;
	}
	.header_sec.affix
	{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		-webkit-animation:fadeInDown 0.9s ease; 
	    -moz-animation:fadeInDown 0.9s ease; 
	    animation:fadeInDown 0.9s ease;
	    border-bottom: 1px solid #d2d2d2;
	}
	.header_sec.affix ~ .header_space{
		display: block;
	}
	.home_page .header_sec.affix{
		background: #232424;
	}
	@keyframes fadeInDown{
	    0%{transform:translate3d(0, -100%, 0)}
	    to{transform:none;}
	}
	@-webkit-keyframes fadeInDown{
	    0%{transform:translate3d(0, -100%, 0)}
	    to{transform:none;}
	}
	.text-end-ds{
		text-align: end;
	}

.header_sec .col-lg-9.col-6 {
    padding-right: 0;
}

	
}
@media (min-width: 1441px){
	.resize_svg svg {
	    transform: scale(1.2);
	    transform-origin: top right;
	}
	.resize_svg img {
	    transform: scale(1.25);
	    transform-origin: top left;
	}


}
@media (max-width: 1499px){
	.news_svg svg {
	    width: 88%;
	}
	.banner_full .container{
		transform: translateY(-40%);
	}
	.testimonial_svg svg {
	    width: 83.2%;
	}
	.shape_svg svg {
	    width: 92.5%;
	}
	.case_svg svg {
	    width: 83.2%;
	}
	.offer_svg svg {
        width: 89.5%;
    }
    .care_container {
	    width: 88%;
	}
	.resize_svg img {
	    transform: scale(1.1);
	    transform-origin: top left;
	}
	.resize_svg.svg_contact svg {
	    transform: scale(1);
	}
	ul.address_list{
		padding-left: 14rem;
	}
	ul.address_list div h4 {
	    width: 40%;
	}
	ul.address_list div p {
	    width: 60%;
	}
	ul.address_list li:first-child {
	    margin-bottom: 6.5rem;
	    margin-top: 2.7rem;
	}
	.contact_head {
	    padding-top: 2.5rem;
	}
	.curve_sec{
		padding: 95px 0 130px;
	}
	.contact-form-sec
	{
		padding-top: 14rem;
	}
	.loader_sec .resize_svg.svg_left {
		left: 8px;
	}
	.loader{
		height: 17vh;
	}
	.resize_svg.svg_right.svg_right2 {
	    width: 31%;
	    overflow: hidden;
	}
	.about-sec{
		background-position: left bottom;
	}
}
@media (max-width: 1399px){
	.banner_img p {
	    font-size: 28px;
	}
	.dash-journey.faq_svg svg{
		transform: scale(1);
	}
	.common_head {
	    font-size: 40px;
	    line-height: 56px;
	}
	p.p-20 {
	    font-size: 18px;
	    line-height: 30px;
	}
	p.univia-pro {
	    font-size: 20px;
	    line-height: 30px;
	}
	ul.main_menu {
	    font-size: 0;
	}
	.dash-journey svg {
	    transform: scale(.9);
	    transform-origin: top left;
	}
	.root_svg svg {
    	width: 100%;
	    height: auto;
	}
	.resize_svg.svg_right.svg_right2 {
	    width: 31%;
	    overflow: hidden;
	}


/*10-aapril*/

.care_sec.sec_padd .care-text br
{
	display: none;
}

.mt-care {
    margin-top: 30px;
}


.gradiant_sec
{
	padding: 100px 0 120px;
}

.dash-journey {
   
/*    left: 25px;*/
  
}

.arrow-journey:before {
  
    top:1px;
  
}


.resize_svg.svg_contact svg
{
	        transform: scale(0.9);
}
    ul.address_list {
        padding-left: 10rem;
    }


.contact-form-sec
{
	padding-top: 14rem;
}



}


@media screen and (max-width: 1200px) and (min-width: 1025px) {
	.resize_svg.svg_right.svg_right2 {
        width: 30%;
    }
    .care_slider .care_desc div h4 br {
	    display: none;
	}
    section.sec_padd.thank-you-sec {
	    padding-top: 75px;
	    padding-bottom: 75px;
	}
	.thank-you-sec a.btn_cmn{
		margin-top: 20px;
	}
	.dash-journey.doctor_svg svg{
		transform: scale(1);
	}
	section.discover_sec.sec_padd.position-relative.meet-book-sec {
        margin-top: -35px;
        padding-top: 100px;
        padding-bottom: 75px;
    }
    .right_body h3{
    	font-size: 26px;
    }
    section.sec_padd.doctor_sec {
	    padding-bottom: 70px;
	    padding-top: 70px;
	}
	.doctor-row .text-center.mt-5 {
	    margin-top: 0px !important;
	}
    .right_body p.univia-pro {
        font-size: 18px;
        line-height: 26px;
    }
	.mt-5.pt-5.resize_svg.svg_left{
		padding-top: 90px !important;
	}
	p.faq-ptext {
	    padding-top: 30px;
	}
	section.sec_padd.faq_list_sec{
		padding-bottom: 60px;
		padding-top: 110px;
	}
	p.faq-ptext br {
	    display: none;
	}
	.faq_container p {
	    margin-bottom: 15px;
	    margin-top: 0;
	}
	.book-box-btn {
	    max-width: 92.5%;
	}
	.map_top{
		margin-bottom: -3rem;
	}
	.shape_svg.faq_svg {
	    width: 89%;
	}
	.faq_svg.dash-journey svg{
		transform: scale(1);
	}
	/*.popup_form_main{
		padding: 78px 78px;
	}
	.popup_form_inner{
		padding: 60px 115px;
	}*/

}

@media (max-width: 1199px){
	.main_menu > li > a{
		font-size: 15px;
	}
	.main_menu > li > a{
		padding-left: 10px;
		padding-right: 10px;
	}
	.hdr_right_item{
		margin-right: 20px;
	}
	.header_inner .header_search .form-control {
	    max-width: 120px;
	}
	.hdr_right_item > a{
		font-size: 16px;
	}
	.main_menu a.btn_cmn {
	    margin: 0 5px;
	    padding: 16px 10px 14px !important;
	    font-size: 14px !important;
	}
	.banner_img p {
        font-size: 22px;
    }
    .loader_logo svg {
	    width: 100%;
	}
	.loader_logo {
	    width: 50%;
	}
	.common_head {
        font-size: 36px;
        line-height: 48px;
    }
    .clarity_box h4 {
	    font-size: 20px;
	    line-height: 24px;
	}
	ul.c_list {
	    font-size: 14px;
	}
	ul.c_list li {
	    margin-bottom: 12px;
	}
	.care_container {
        width: 80%;
    }

    p.univia-pro br {
	    display: none;
	}
	.root_svg {
	    margin-bottom: -40rem;
	}
	.gradiant_sec {
		padding: 90px 0 120px;
	}
	.care_slider .care_item h4{
	    font-size: 20px;
	    padding: 20px;
	}
	.top_svg.rad1-hide {
	    top: -42px;
	}
	.contact-form-sec{
		background-position: top center;
	}
	.svg_contact{
		width: 70%;
	}
	.contact_head .common_head{
		margin-bottom: 15px;
	}
	.row-contact .contact_head {
	    padding-top: 3.8rem;
	}
	.consultations_item{
		padding: 15px;
	}
	.consultations_item p {
	    font-size: 16px;
	    line-height: 20px;
	}
	.text_sec_tab .dash-topminus.dash-journey{
		display: none;
	}
	 .text_sec_tab .container-ip,
	 .consultations_sec .container-ip,
	 .platform_sec .container-ip{
	    padding: 0;
	}
	.text_sec_tab{
		padding-top: 50px;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.clarity_box{
        padding: 35px 15px;
    }
    section.sec_padd.thank-you-sec {
	    padding-top: 60px;
	    padding-bottom: 60px;
	}
	.thank-you-sec a.btn_cmn{
		margin-top: 15px;
	}
	.dash-journey.doctor_svg svg{
		transform: scale(1);
	}
    .care_slider .care_desc div p{
    	font-size: 14px;
    	line-height: 22px;
    }
    section.discover_sec.sec_padd.position-relative.meet-book-sec{
    	margin-top: 15px;
    	padding-top: 100px;
        padding-bottom: 75px;
    }
    section.sec_padd.doctor_sec{
    	padding: 60px 0;
    }
    .doctor-row .text-center.mt-5{
    	margin-top: 0 !important;
    }
    .doctor_filter select{
    	margin-right: 10px;
    }
    .shape_svg.faq_svg {
	    width: 95%;
	}
	.faq_container p {
	    margin-bottom: 30px;
	    margin-top: 0;
	}
	p.faq-ptext br {
	    display: none;
	}
	.faq_svg.dash-journey svg{
		transform: scale(1);
	}
    .faq_banner .banner_full .container {
        transform: translateY(-50%);
    }
    p.faq-ptext{
    	padding-top: 30px;
    }
    section.sec_padd.faq_list_sec{
    	padding-bottom: 60px;
    }
    section.faq_sec.faq_sec_main{
    	padding-top: 60px;
    	background-size: 200px;
    	padding-bottom: 60px;
    }
    .care_slider .care_desc div h4{
    	font-size: 17px;
    }
    .service_banner.care-banner .banner_gradiant{
    	width: 66%;
    }
    .popup_form_inner{
    	/*padding: 55px 150px;*/
    }
    .popup_form_main{
    	/*padding: 65px;*/
    }
    .map_top{
    	margin-bottom: -3rem;
    }
    ul.address_list div p{
    	font-size: 16px;
    }
    .care_slider2.care_slider_main .slick-list{
    	/*padding-right: 30%;*/
    	padding-right: 0;
    }
    .mt-5.pt-5.resize_svg.svg_left {
	    padding-top: 120px !important;
	}
    .clarity_sec{
        column-gap: 20px;
    }
    .footer_sec{
    	padding-top: 60px;
    }
    a.btn_cmn{
        padding: 12px 12px 10px!important;
        font-size: 11px !important;
    }
    ul.c_list li{
        font-size: 13px;
    }
    .resize_svg.svg_right.svg_right2{
        width: 300px;
    }
    .about-sec{
    	background-position: center;
    }
    .svg_bottom{
    	bottom: 0;
    }
    .care_container {
        width: 85%;
    }
    a.btn_cmn:after{
    	margin-left: 5px;
    }
}

@media (max-width: 991px){
	.navbar-collapse {
		position: fixed;
		left: -272px;
		top: 0;
		height: 100%;
		height: 100vh;
		display: block !important;
		z-index: 999;
		width: 270px;
		background: #303030;
		transition: all .3s linear;
		-webkit-transition: all .3s linear;
		overflow: auto;
	} 
	.row-lead-team{
		flex-wrap: wrap-reverse;
		margin-top: 50px !important;
		row-gap: 30px;
	}
	.row-lead-team-btm{
		row-gap: 30px;
	}
	.row-lead-team-btm .col-md-3 {
	    width: 100%;
	}
	.row-lead-team-btm .col-md-8 {
	    width: 100%;
	    margin-left: 0 !important;
	}
	.map_top{
		width: 100%;
		margin-bottom: 0;
	}
    .resize_svg.svg_right.svg_right2 svg {
        width: 280px;
        height: 150px;
    }
    .resize_svg.svg_right.svg_right2{
        width: 265px !important;
    }
    .hom_ab_sec img{
        margin-left: 0 !important;
    } 
	.navbar-collapse.show {
	    left: 0;
	}
	.nav-item a{
	    color: #333;
	    text-align: left;
	    padding: 15px 30px;
	}
	.navbar-toggler {
	    border: none;
	    padding: 0;
	    border-radius: 0;
	    width: 24px;
	    text-decoration: none;
	    outline: none !important;
	    box-shadow: none !important;
	}
	.sub_menu {
	    min-width: inherit;
	    padding: 0 20px;
	    left: 0;
	    transform: none;
	    width: 100%;
	    position: inherit;
	}
	.sub_menu > li {
	    display: block;
	    width: 100%;
	}
	.main_menu > li {
	    width: 100%;
	}
	.navbar-toggler-icon {
	    background: none !important;
	    display: flex;
	    justify-content: space-evenly;
	    flex-direction: column;
	    align-items: end;
	    height: 30px;
	    width: 24px;
	}
	.navbar-toggler-icon > span{
		width: 24px;
		height: 2px;
		background: #000;
		display: block;
		transition: all .4s linear;
		transform-origin: right center;
		position: relative;
	}
	
	.main_menu > li > a{
		color: #fff;
	}
	.navbar-collapse{
		padding-top: 15px;
	}
	.main_menu > li > a{
		padding: 12px 15px;
	}
	.main_menu > li.has_sub.on > a,
	.main_menu > li:hover > a,
	.main_menu > li.on:hover > a{
		background: #fff;
		color: #A8151B;
	}
	.sub_menu{
		padding: 10px;
	}
	.sub_menu:before{
		border-width: 10px;
    	margin-left: -10px;
	}
	.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-child(2){
		opacity: 0;
		transform: translate(10px, 0);
	}
	.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-child(1) {
	    transform: rotate(42deg);
	    transform-origin: left center;
	}
	.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-child(3) {
	    transform: rotate(-42deg);
	    transform-origin: left center;
	}
	.about_a_first_sec .resize_svg img{
		margin-left: -15px;
		transform: scale(1.1);
	}
	.about_a_first_sec .text_desc,
	.about_a_first_sec .care_slider {
		padding-left: 78px;
	}
	.carecontainer_home.about_a_first_sec .care_slider{
		padding-left: 0;
	}
	.top_svg.rad1-hide {
	    top: -32px;
	}
	.abt_carecont_leftpadd {
/*	    padding-left: 45px;*/
	}
	.svg_contact{
		width: 100%;
	}
	.shape_svg svg {
	    width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991px)
{

.banner_home .container {
    padding-left: 0;
}
.dash-journey.doctor_svg svg{
	transform: scale(0.9);
}
.care_slider2.care_slider_main.global_slider .slick-list {
    padding-right: 65%;
}
.care_item .trust-box img {
    height: 290px;
}
section.discover_sec.sec_padd.position-relative.meet-book-sec{
	background-position: center;
	margin-top: 0;
	padding-bottom: 70px;
	padding-top: 100px;
}
.col-md-11.text-end {
    margin-top: -10px;
}
.meet-book-sec .col-md-9 {
    width: 100%;
}
.right_body h3{
	font-size: 22px;
	margin-bottom: 0;
}
.doctor-row .text-center.mt-5{
	margin-top: 0 !important;
}
.care_container.global_sec .common_head{
	font-size: 36px;
}
.right_body{
	padding: 30px 30px 20px;
}
.right_body .btn_cmn{
	top: 30px;
}
section.sec_padd.doctor_sec{
	padding: 60px 0;
}
ul.doctor_list figure{
	padding-bottom: 34%;
}
.care_item .trust-box img.svg_icon{
	height: auto;
}
.global_slider .care_container .common_head{
	font-size: 30px;
}
.care_item .trust-content p.univia-pro.p-18{
	font-size: 16px;
	line-height: 28px;
}
.close_icon{
	/*right: 0;*/
}
/*.popup_form_inner{
	padding: 78px 115px;
}*/
.contact_head p.univia-pro{
	line-height: 22px;
}
.mt-5.pt-5.resize_svg.svg_left {
    padding-top: 48px !important;
}
.empowerleft_cont h2.common_head.mt-5{
	margin-top: 0 !important;
}
.care_slider2.care_slider_main .slick-list{
	padding-right: 35%;
}

.aboutgrad_sec .mt-min {
    margin-top: 240px;
}

section.aboutgrad_sec.sec_padd {
    padding-top: 50px;
}

.mv_svg {
        top: 50%;
    }


.about-right-text .bg_img {
    background-size: 500px;
    padding-top: 2rem;
  
}

.vascular-center-sec .resize_svg.svg_left {
        position: relative;
        left: -25px;
    }

.about-tab .btn_cmn {
    margin-bottom: 15px;
}
.care_Experts_slider .content {
    margin-left: 0;
}
.awards-row .col-md-6.col-lg-3 {
    margin-bottom: 15px;
}
.grid-box.tall img {
    min-height: 160px;
}
.grid-box img {
 
    min-height: 300px;
}
section.curve_sec a.btn_cmn {
    margin: 10px 0;
            border: none;
}
.empower_sec .care_container {
    width: 86%;
}
.empower_sec {
    padding-top: 0;
}
ul.footer_menu a 
{
    padding: 10px 10px 10px 10px;

}
    p.univia-pro {
        font-size: 16px;
        line-height: 28px;
    }

.text_sec.about-right-text{
	padding-bottom: 10px;
}
.care_slider .care_desc div p{ font-size:16px; }

.healthcare-sec .bg_img
 {
    opacity: 0.2;
}

.healthcare-sec .col-md-6.col-lg-3.text-right {
    text-align: left;
    margin-bottom: 30px;
}
.col-md-12.col-lg-3.text-right.md-text-left {
    text-align: left;
    margin-bottom: 20px;
}
.services-box {
    padding: 30px 30px;
}

.specialized_expertise_sec1 .expertise_slide 
{
    margin-top: 15px;
    min-height: auto;
}

.banner_img img.banner_cover_img {
    max-height: 350px;
}


/*.banner_gradiant svg {

    right: 30px;
    transform: scale(0.9);

}*/
.healthcare-sec .container {
/*    padding: 0 20px;*/
}
.banner_img .banner-img img {
    max-height: 400px;
}
.content.advanced_sec_text .btn_cmn {
    margin-bottom: 10px;
}
.resize_svg.svg_contact svg {
        transform: scale(0.55);
    }


.contact_head {
    width: 75%;
}


    .contact_head {
        padding-top: 53px;
    }


    ul.address_list li:first-child {
        margin-bottom: 5rem;
        margin-top: 3.5rem;
    }

    ul.address_list {
        padding-left: 7rem;
    }


    ul.address_list div h4 {
        font-size: 18px;
    }


ul.address_list div p {
    font-size: 12px;
    line-height: normal;
}
   .contact_sec .common_head 
   {
               margin-top: 14px;
        margin-bottom: 10px;
    }


section.sec_padd.contact-form-sec {
    padding-top: 180px;
}

.footer_sec {
    padding: 60px 0 50px;
}
.abtcare_container .care_Experts_slider:before,
.abtcare_container .care_Experts_slider:after{
	opacity: 0;
}



}




@media (max-width: 767px){

.healthcare-sec .bg_img {
    opacity: 0.2;
}
section.sec_padd.thank-you-sec {
    padding-top: 50px;
    padding-bottom: 50px;
}
.thank-you-sec .svg_left {
    margin-top: 0;
}
.thank-you-sec a.btn_cmn {
    margin-top: 10px;
}
ul.doctor_list figure img{
	position: unset;
	height: 450px;
}
ul.doctor_list figure{
	padding: 0 !important;
	background: none;
}
.care_slider2.care_slider_main.global_slider .slick-list {
    padding-right: 20%;
}
section.sec_padd.medicine-sec {
    padding-top: 30px;
    padding-bottom: 30px;
}
.doctor-row .text-center.mt-5 {
    margin-top: 0 !important;
}
section.sec_padd.doctor_sec{
	padding-bottom: 50px;
	padding-top: 50px;
}
.medicine-content {
    margin-top: 25px;
}
.col-md-11.text-end {
    margin-top: 0;
    text-align: left !important;
}
section.discover_sec.sec_padd.position-relative.meet-book-sec{
	background-position: center;
	padding-top: 60px;
}
.row-lead-team {
    margin-top: 35px !important;
    flex-wrap: wrap-reverse;
    row-gap: 30px;
}
.row-lead-team h4, .row-lead-team-btm h4 {
    font-size: 18px;
    margin-bottom: 20px;
}
.row-lead-team-btm{
	row-gap: 30px;
}
.popup_form_inner{
	background-image: none;
	padding: 0;
}
.popup_form_main{
	padding: 70px 25px;
}
.close_icon{
	right: 0;
	top: -40px;
}
.map_top{
	width: 100%;
	position: relative;
	top: -15px;
	margin-bottom: 0;
	margin-top: -3rem;
}
.care-banner .banner_img .banner-img img, .banner_home .banner_img img.banner_cover_img {
    width: 60%;
}
.service_banner.care-banner .banner_gradiant{
    width: 62%;
}
.banner_img .banner-img img, .banner_home .banner_img img {
    max-height: 230px;
}
.service_banner .banner_gradiant {
    width: 50%;
}
.care_slider2.care_slider_main .slick-list{
	/*padding-right: 38%;*/
	padding-right: 0;
}
.transparent-answers .container {
    padding: 0 15px;
}
.resize_svg.svg_right.svg_right2 {
    width: 450px !important;
}
.resize_svg.svg_right.svg_right2 svg {
    width: auto;
    height: auto;
}
.hom_ab_sec a.btn_cmn {
    margin-top: 15px;
}
.healthcare-sec .col-md-6.col-lg-3.text-right {
    text-align: left;
}
	section.loader_sec{
		padding-top: 20px;
	}
	.container-ip {
	    padding: 0 var(--bs-gutter-x, .75rem);
	}
	.banner_img p {
	    text-align: left;
	    font-size: 16px;
	    line-height: 20px;
	}
	.dash-journey{
		display: none;
	}
	h2.common_head, h1.common_head,
	.care_container .common_head {
	    font-size: 20px;
	    line-height: 26px;
	}
	h1.common_head{
		margin-bottom: 0;
	}
	body{
		font-size: 14px;
	}
	.btn_cmn {
	    padding: 12px 15px 10px !important;
	    font-size: 14px !important;
	    letter-spacing: 0px !important;
	}
	.root_svg svg,
	.resize_svg svg {
	    max-width: 100%;
	    height: auto;
	}
	section.gradiant_sec.sec_padd {
	    padding-top: 0;
	    background-size: contain;
	    background: linear-gradient(7.83deg, #55097B 47.18%, #F00045 97.03%);
	}
	.clarity_sec {
    	flex-wrap: wrap;
	    gap: 10px;
	    margin-top: 10px;
	}
	.clarity_box {
	    width: 100%;
	}
	.future_box {
	    width: 100%;
	}
	.care_container {
	    width: 100%;
	     padding: 0 var(--bs-gutter-x, .75rem);
	}
	.care_slider {
		margin-top: 20px;
	}
	.sec_padd.beyond_sec {
        padding: 70px 0 70px;
        background-size: 50% 50%;
    }
	h3.common_head {
	    font-size: 24px;
	    line-height: 34px;
	    margin-top: 10px;
	}
	.footer_sec {
	    padding: 60px 0 20px;
	}
	ul.health_list li{
		width: 100%;
		padding: 20px;
	}
	.doctor_filter select {
        width: 47%;
        margin: 4px;
        font-size: 14px;
    }
	input#search {
	    width: 100%;
	    margin-top: 1rem;
	}
	ul.health_list{
		margin-top: 30px;
	}
	ul.health_list li p,ul.health_list li h5{
		font-size: 14px;
		line-height: 20px;
    	margin: 5px 0;
	}
	ul.health_list li h3{
		font-size: 24px;
	}
	p.univia-pro {
	    font-size: 16px;
/*	    line-height: 20px;*/
	}
	.footer_minus + .footer_sec {
	    margin-top: -4rem;
	}
	ul.footer_menu a:after{
		content: none;
	}
	.navbar {
	    justify-content: end;
	}
	.banner_full .banner_img {
	    height: 400px;
	}
	.right_body {
	    width: 100%;
	    padding: 20px;
	}
	ul.doctor_list li {
	    flex-wrap: wrap;
	}
	ul.doctor_list figure {
	    width: 100%;
	    padding-bottom: 70%;
	}
	.right_body .btn_cmn {
	    position: relative;
	    right: 0;
	}
	.right_body h3 {
	    font-size: 24px;
	    margin-bottom: 10px;
	}
	.video_full {
	    height: 400px;
	}
	ul.gallery_list {
	    columns: 1;
	}
	p.copyright_text {
	    text-align: center;
	    margin-top: 10px;
	}
	.bg_img {
	    margin-top: 2rem;
	    padding-bottom: 2rem;
	}
	.root_svg {
	    opacity: 0.5;
	    margin-bottom: -50rem;
	}

	.reveal-animation {
	    margin-top: 2rem;
	}
	.svg_bottom {
	    bottom: 0px;
	}
	.loader_logo {
	    width: 100%;
	}
	.loader_logo svg {
	    width: 100%;
	}

.root_svg svg {

        opacity: 0.8;
    }

.footer_minus .curve_sec {
    margin-bottom: 0;
    padding-bottom: 90px;
}
.foot_info ul.footer_menu ul.footer_submenu {
    padding-left: 0;
}
section.care_sec.sec_padd {
    padding-top: 35px;
    padding-bottom: 35px;
}


    .root_svg svg, .resize_svg svg {
        max-width: 80%;
 
    }

.medical_right_sec {
        padding-left: 0;
    }


.medical_item {
    padding: 20px;
}
.latest_medical_slider .slick-list {
    padding-right: 0%;
}
.latest-medical-sec .text_desc {
    margin-bottom: 0;
}
h3.faq_title {
    font-size: 17px;
}
.faq-content p {
    font-size: 16px;
}
.empower_sec {
    padding-top: 0;
}

section.wc_exprt_sec {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*section.radial_sec.sec_padd.z-index-down {

    padding-top: 0;
}*/
section.aboutgrad_sec {
    padding-top: 60px;
    padding-bottom: 60px;
            background: linear-gradient(90deg, #420C59 0%, #F00045 100%);
}
.award-box {
    margin-bottom: 10px;
            background-size: contain;
            min-height: auto;
}
.row.pt-4.awards-row .col-md-3 {
    margin-bottom: 20px;
}



.curve_sec_opp {
  
    padding: 60px 0 120px;
 
}
.expertise_slider .slick-slide {
    min-height: 350px;
}
section.discover_sec.sec_padd.position-relative {
    padding-top: 60px;
    padding-bottom: 60px;
}
section.wc_exprt_sec .col-md-12.text-white.mb-4 {
    margin-bottom: 0 !important;
}
.care_slider2 .care_item{ border-radius:0; }

    .services-box {
        padding: 30px 30px;
        min-height: auto;
        border: 4px solid #F00045;
        border-radius: 20px;
        background: none;
        margin: 10px 0;
    }
	section.sec_padd.healing_sec {
	    padding-top: 0;
	}
	.support_list p {
	    font-size: 20px;
	    line-height: 26px;
	}
	section.text_sec.sec_padd.md-padd-0 {
	    padding-bottom: 0;
	}

	section.sec_padd.platform_sec {
	    padding-top: 0;
	}
	ul.address_list {
	    width: 100%;
	    min-width: 100%;
	    padding: 0;
	}
    ul.address_list li:first-child {
        margin-bottom: 0;
        margin-top: 0;
    }
	.contact-form-sec {
	    padding-top: 10rem;
	}
	.quotes_icon img {
	    max-height: 40px;
	}
	.recovery-sec .col-md-3.text-end {
	    margin-bottom: 25px;
	}
	.dash-journey {
	    display: none;
	}
	.Platform_box .icon {
	    max-width: 40px;
	}
	.Platform_box p {
        font-size: 16px;
    }
	section.clarity_counts_sec p.sub-title {
	    font-size: 20px;
	}
	.clarity_slider ul.slick-dots{ padding:0; }
	section.sec_padd.specialized_expertise_sec1 {
	    padding-top: 30px;
	    padding-bottom: 30px;
	}

	.why-rivea-sec {
	    padding-top: 70px;
	}
	.faq_item.on {
	    background: #dddddd30;
	    padding: 50px;
	}
	.faq_item.on .faq_item_ans {
	    background: none;
	}

	.faq_item {
	    padding: 20px 70px 20px 15px;
	}
	.review_box {
	    margin-top: 20px;
	}

	section.aboutgrad_sec .mt-min {
	    margin-top: 140px;
	}

	section.aboutgrad_sec .mv_svg
	{
	    top: 58%;
	}
	.quality-text.quality-box.right {
	        background-image: url(/images/bottom-qaulity-bg.png);
	        padding: 55px 35px 35px 35px;
	    }

	.faq-box {

	    margin-bottom: 10px;
	}
	section.sec_padd.faq_list_sec {
	    padding-bottom: 50px;
	    padding-top: 50px;
	}
	.faq_container p{
		margin-top: 0;
		margin-bottom: 30px;
	}
	.row-gap {
	    row-gap: 15px;
	}
	.faq_sec_main .faq_list_main {
	    margin-top: 10px;
	}
	p.faq-ptext {
	    padding-top: 0;
	}
	section.faq_sec.faq_sec_main {
	    padding-top: 50px;
	    padding-bottom: 50px;
	}
	section.faq_sec.faq_sec_main{
		background-size: 175px;
	}
	.curve_sec .col-md-5.text-end {
	    text-align: left !important;
	}
	.banner_home .container
	{
		padding-left: 20px;
		transform: translateY(-50%);
	}
	.banner_home .container h2.common_head{
		margin-bottom: 0;
	}
	.banner_home .banner_content {
	    width: 50%;
	}
	.expertise_slider ul.slick-dots {
	    padding: 0;
	    margin: 0;
	}
	.expertise_slider ul.slick-dots li {
	    display: inline-block;
	    margin: 5px 5px;
	}
	.expertise_slider ul.slick-dots li button {
	    border: none;
	    width: 20px;
	    height: 20px;
	    border-radius: 0;
	    font-size: 0;
	    border-radius: 50%;
	    background: #ac87bf;
	}
	.expertise_slider ul.slick-dots li.slick-active button
	{

		background:#55097B ;
	}

	.expertise_slider ul.slick-dots {
	    text-align: center;
	}
	section.sec_padd.commitment-sec {
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
	.banner_video {
	    margin-top: 30px;
	}
	.home_banner_sec{
		padding-bottom: 0;
	}
	.clarity_box {
	    padding: 25px 15px;
	}
	.gradiant_sec {
        padding: 70px 0 70px;
    }
    .about-sec{
    	padding: 100px 0 30px;
    	background-position: center;
    	position: relative;
    }
    .about-sec:after {
	    content: '';
	    position: absolute;
	    background: #ffffff8a;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    z-index: 0;
	}
	.about-sec .container {
	    position: relative;
	    z-index: 1;
	}
	.container.position-relative.mt-care {
	    padding: 0;
	}
	.curve_sec{
		    padding: 60px 0;
	}
	.hom_ab_sec{
		padding-bottom: 0;
	}
	ul.footer_menu a{
		padding: 10px 0px 10px 0px;
	}
	ul.social_fixed li{
		margin-right: 14px;
    	padding-right: 10px;
	}
	.loader_sec .resize_svg.svg_bottom svg {
	    max-width: 100%;
	}
	.loader_sec .resize_svg.svg_left {
	    display: none;
	}
	#sidebarMenu {
	    position: relative;
	    padding: 0;
	    width: 100%;
	    background: transparent;
	    height: auto;
	    left: 0;
	}
	li.toggle_menu {
	    display: none;
	}
	#sidebarMenu ul {
	    padding: 0;
	}
	#sidebarMenu ul li {
	    padding: 12px 15px;
	    line-height: 18px;
	    font-family: "Poppins", sans-serif;
        font-size: 15px;
	}
.footer_minus .curve_sec .col-md-4.text-end {
    text-align: left !important;
}

.radial_sec {
    padding-top: 4rem;
}

/*.banner_gradiant svg {
    transform: scale(0.8);
}*/

ul#TreatmentTab li.nav-item {
    margin-bottom: 10px;
}

.specialized_expertise_sec1 .expertise_slide {
    min-height: auto;
    margin-bottom: 20px;
}
.content p,
 .faq_item_ans 
{ font-size:16px; }

.aboutgrad_sec, 
.care_slider .care_desc div p,
 .faq-content p,
 .services-box p
{
	font-size: 14px;

}

.care_slider .care_desc div h4 {
    font-size: 22px;
    line-height: normal;
}
section.radial_sec.sec_padd.z-index-down .mt-5.pt-5.resize_svg.svg_left {
    margin-top: 0 !important;
    padding-top: 0 !important;
}
section.text_sec.healthcare-sec .col-md-3.text-right {
    text-align: left;
}

.expertise_slider1.row {
    margin: auto;
}

    section.sec_padd.healing_sec .col-md-3.text-right {
        text-align: left;
        margin-bottom: 20px;
    }

.medical_item h3 {
    font-size: 22px;
}
.faq_item_ques {
    font-size: 18px;
    line-height: 28px;
}
section.discover_sec.sec_padd.position-relative .col-md-4.text-end {
    text-align: left !important;
}

.footer_sec .col-6 {
    width: 100%;
}

	.sec_padd.recovery-sec .col-md-3.text-end,
	.sec_padd.stories-of-healing-sec .col-md-3.text-right
	 {
    text-align: left !important;
}
.sec_padd.transparent-answers .col-md-3.text-right {
    text-align: left;
}
.bg_img.faq_sec {
    opacity: 0.2;
    width: 300px;
    bottom: 0;
}

/*contact us*/


p.text_withborder {
    font-size: 20px;
}
p.text_withborder span:before {
    height: 3px;
}
p.text_withborder span:after {
    height: 3px;
}

.svg_contact {
    display: none;
}
.contact_head {
    width: 100%;
    margin-bottom: 2rem;
}
ul.address_list div p {
    font-size: 16px;
}
ul.address_list div h4 {
    font-size: 18px;
}


.contact-form-sec .top_svg {
    top: 5rem;
}

    .vascular-center-sec .resize_svg.svg_left {
        left: 50px;
    }

footer.footer_sec .top_btn {
/*    display: none;*/

width: 40px;
height: 40px;
}

.top_btn button#scrollTopBtn {
    bottom: 160px;
}
.clarity_slider ul.slick-dots li button {
    height: 12px;
    width: 12px;
}
.expertise_box h4 {
    min-height: auto;
}
section.sec_padd.healing_sec .col-md-12.col-lg-3.text-right.md-text-left {
    text-align: left;
    margin-bottom: 19px;
}

.faq_item_ques.on:after {
    top: 0;

}

section.sec_padd.latest-medical-sec {
    padding-top: 0;
}
.about-faq {
    padding: 0 10px;
}
.advanced_sec .accordion-body {
    padding-top: 0;
}
.top_svg.rad1-hide {
    top: -16px;
}
.abt_carecont_leftpadd {
    padding-left: 0;
}
.about_a_first_sec .resize_svg img {
    margin-left: -35px;
    transform: scale(1.1);
}
.abtcare_container .care_Experts_slider:before{
	opacity: 0;
}
.about_a_first_sec .text_desc, .about_a_first_sec .care_slider{
	padding-left: 0px;
}
.m-left-13px{
margin-left: 4px;
}
}


@media (max-width: 400px){
	section.aboutgrad_sec .mv_svg {
        top: 55%;
    }
    section.aboutgrad_sec .mt-min {
	    margin-top: 105px;
	}
}


@media (max-width: 370px){
    ul.social_fixed li {
        margin-right: 7px;
        padding-right: 7px;
    }
	
}

